<div class="maincontainer">
    <div class="card col--6" style="width: 18rem;">
        <div class="card-header">
            <i class="bi bi-person-video2"></i>&nbsp
            <i class="bi bi-pen"></i>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Profil módosítása</li>
            <a class="btn btn-secondary maincontainer cardlink" href="/profil">
                <div>
                    Módosítások&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-card-list"></i>
                    <i class="bi bi-pencil-square"></i>
                </div>
            </a>
            <a class="btn btn-secondary maincontainer cardlink" href="/logout">
                <div class>
                    Kijelentkezés&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <i class="bi bi-door-open"></i>
                </div>
            </a>
        </ul>
      </div>
      <div class="card col-6" style="width: 18rem;">
        <div class="card-header">
            <i class="bi bi-cash-coin"></i>&nbsp
            <i class="bi bi-piggy-bank"></i>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Új adat rögzítése</li>
            <a class="btn btn-secondary maincontainer cardlink" href="/income">
                <div>
                    Bevétel&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-cash-coin"></i>
                    <i class="bi bi-arrow-right-circle"></i>
                    <i class="bi bi-wallet2"></i>
                </div>
            </a>
            <a class="btn btn-secondary maincontainer cardlink" href="/expenditure">
                <div class>
                    Kiadás&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-wallet2"></i>
                    <i class="bi bi-arrow-right-circle"></i>
                    <i class="bi bi-cash-coin"></i>
                </div>
            </a>
        </ul>
      </div>



      <div class="card col-6" style="width: 18rem;">
        <div class="card-header">
            <i class="bi bi-cash-coin"></i>&nbsp
            <i class="bi bi-graph-up"></i>
        </div>
        <ul class="list-group list-group-flush">
            <a class="btn btn-secondary maincontainer cardlink" href="/linechart">
                <div>
                    Egyenleg alakulása&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-graph-up"></i>
                </div>
            </a>
        </ul>
      </div>
      <div class="card col-6" style="width: 18rem;">
        <div class="card-header">
            <i class="bi bi-cash-coin"></i>&nbsp
            <i class="bi bi-piggy-bank"></i>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Új adat rögzítése</li>
            <a class="btn btn-secondary maincontainer cardlink" href="">
                <div>
                    Bevétel&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-cash-coin"></i>
                    <i class="bi bi-arrow-right-circle"></i>
                    <i class="bi bi-wallet2"></i>
                </div>
            </a>
            <a class="btn btn-secondary maincontainer cardlink" href="">
                <div class>
                    Kiadás&nbsp&nbsp&nbsp
                </div>
                <div class="ikonok">
                    <i class="bi bi-wallet2"></i>
                    <i class="bi bi-arrow-right-circle"></i>
                    <i class="bi bi-cash-coin"></i>
                </div>
            </a>
        </ul>
      </div>
</div>