<div class="col-2">
    <label for="egyenleg" class="form-label">Egyenleg (Ft)</label>
    <input type="number" class="form-control text-end" disabled value="<%= Number(user.loggedUserStartCapital) + Number(sum) %>" id="egyenleg">
</div>