
<%- include('header') %>
<body>
    <div class="row">
        <aside class="col-md-4">
            <h3>
                <%= user.loggedUser %>
            </h3>
            <%- include('nav') %>
        </aside>
    </div>
</body>

</html>