<ul class="menu">
    <li><a href="/main">Főoldal</a></li>
    <li><a href="/income">Bevétel rögzítése</a></li>
    <li><a href="/expenditure">Kiadás rögzítése</a></li>
    <li><a href="/linechart">Vonaldiagram nézet</a></li>
    <li><a href="/piechart">Kördiagram nézet</a></li>
    <li><a href="/logout">Kijelentkezés</a></li>
</ul>