<ul class="menu">
    <li><a href="/main">Főoldal</a></li>
    <li><a href="/profil">Profil módosítása</a></li>
    <li><a href="/passmod">Jelszó módosítása</a></li>
    <li><a href="/logout">Kijelentkezés</a></li>
</ul>