<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Dátum:</th>
            <th>Típus</th>
            <th>Összeg</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>